.resume-checkout{
    background-color: white;
    border-radius: 20px;
    padding: 40px 5px;
    margin-top: 90px;
    width: 350px;
}
.pb-3{
    padding-bottom: 2rem;
}
.pt-3{
    padding-top: 2rem;
}