.funciona-clinicos{
    margin-bottom: 150px;
    .title-section{
        margin-bottom: 100px;
    }
}

.section-products{
    height: 150px;
    width: 90%;
    margin-bottom: 40px; 
    display: flex; 
    justify-content: end; 
    align-items: center;
}