.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    .regalo {
        width: 16px;
        height: 20px;
    }
}

.spaceTop {
    margin-top: 7%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    .logo {
        img {
            margin-left: 25%;
        }
    }
    .menu {
        display: flex;
        width: 60%;
        ul {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin: 0;
            li {
                a {
                    color: $purple;
                    font-size: 1rem;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.btnPurpleSesion {
    border: 1px solid $purple;
    color: white !important;
    padding: 0.3125rem 1rem;
    margin: 0.375rem;
    font-size: .8125rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
    width: 180px;
    background: $purple;
    background-position: 5px 10px;
    height: 44px;
}