.step1,
.step2,
.step3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6%;
    height: 600px;
    h2 {
        color: $purple;
        font-size: 1.5rem;
        font-weight: bold;
        background: url(/css/img/borderBottom.png) 0 100% no-repeat;
        margin-bottom: 5%;
    }
    p {
        color: $purple;
        width: 70%;
    }
    img {
        width: 80%;
    }
    img.right {
        padding: 0 0 6% 6%;
    }
    .step2-Video {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .infoSteps {
        width: 600px;
    }
    img.step {
        width: 143px;
        padding-right: 10%;
    }
}

.step3 {
    background: url('img/step3bk.png') no-repeat 0 0;
    background-size: cover;
    .condition {
        height: 146%;
        align-items: self-end;
        justify-content: center;
        display: flex;
        p {
            font-size: .7rem;
            width: 100%;
        }
    }
}

@media screen and (max-width: 640px) {
    .step1,
    .step2,
    .step3 {
        flex-flow: column;
        .infoSteps {
            width: auto;
        }
        .step {
            width: 50%;
        }
    }
}